<div class="col-md-12 page-header">
  <div class="pull-right">

    <%= link_to raw('<i class="fa fa-plus"></i> Nuevo Departamento'), new_departamento_path,class:"btn btn-success" %>
  </div>
  <h1><i class="fa fa-buildingrai-o"></i> Departamentos</h1>
</div>

<ul class="list-group">
      <li class="list-group-item text-muted col-md-12" contenteditable="false">Lista de departamentos</li>
      <li class="list-group-item col-md-12">

<table class="table table-responsive table-hover table-condensed text-center " style="font-size:11px;">
  <thead>
    <tr>
      <th class="text-center">Nombre</th>
      <th width="200px" class="text-center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td class="text-capitalize"><%= departamento.nombre %></td>
        <td><%= link_to raw('<i class="fa fa-pencil"></i>'), edit_departamento_path(departamento),class:"btn1 btn btn-info","data-toggle": "tooltip", "data-placement": "top", title: "Editar elemento" %>
        <%= link_to raw('<i class="fa fa-trash"></i>'), departamento, method: :delete, data: { confirm: '¿Estas seguro que deseas realizar esta acción?' },class:"btn1 btn btn-danger","data-toggle": "tooltip", "data-placement": "top", title: "Eliminar elemento" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</li>
<br>
