<div class="col-md-12">
<div class="text-center col-md-12 page-header"></br>
  <div class="col-md-2">
    <%= image_tag "heart.png",width: "50%"%>
  </div>
  <h2 class="text-center col-md-8">Registro de Ayudas Sociales</br> <small>Fundación Social Nueva Esparta</small></h2>
</div>


</div>
