<ul class="list-group">
      <li class="list-group-item text-muted" contenteditable="false">Buscar Beneficiario</li>
      <li class="list-group-item ">

        <div class="input-group">


          <input type="text" class="form-control" placeholder="Ingrese cédula" name="search" id="search" value="<%= params[:search]%>">


          <span class="input-group-addon">
            <span id="search_icon" class="fa fa-search"></span>

          </span>
        </div>
      </li>
    </ul>
    <ul class="list-group">
          <li class="list-group-item text-muted" contenteditable="false"><i class="fa fa-wpforms"></i> Resultado</li>
          <li class="list-group-item ">
            <div class="resultado" id="resultado">
              <h2 class="text-center"><small>Realice una búsqueda...</small></h2>
            </div>
          </li>
    </ul>
