<br>
<%
r=@beneficiarios_b
if r.length>0%>
<div class="table-responsive">

    <table class="table table-responsive table-hover table-condensed" style="font-size:11px;">
        <thead>
            <tr>
                <th class="text-center">Cédula</th>
                <th class="text-center">Nombre Completo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <% @beneficiarios_b.each do |beneficiario| %>
            <tr class="text-center">
                <td><%= $dic["tipo_de_cedula"].key(beneficiario.tipo_cedula).to_s + "-" + beneficiario.cedula.to_s %></td>
                <td class="text-capitalize text-center"><%= beneficiario.nombres.downcase + " " +beneficiario.apellidos.downcase %></td>
                <td class="text-center">

                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<%else%>
<div class="text-center">
    <h4>"No hay personas con esta cédula."</h4>
    <a href="<%= new_solicitante_beneficiario_path(:solicitante_id)+"?cedula="+params[:search]%>" class="btn btn-default">Agregar beneficiario</a>
</div>
<%end%>
